@using Microsoft.AspNetCore.Mvc.Localization

@{
    Layout = "_Layout";
}

@inject  IViewLocalizer Localizer

<div class="wrapper">
    <!-- top navbar-->
    <header class="topnavbar-wrapper">
        @await Html.PartialAsync("_TopNavbar")
    </header>
    <!-- sidebar-->
    <aside class="aside">
        @await Html.PartialAsync("_Sidebar")
    </aside>
    <!-- offsidebar-->
    <aside class="offsidebar hide">
        @await Html.PartialAsync("_Offsidebar")
    </aside>
    <!-- Main section-->
    <section>
        <!-- Page content-->
        <div class="content-wrapper" Id="Main">
            @ViewBag.UserId
            <br />
            @ViewBag.EnterpriseId 
            <br/>
            @ViewBag.sysUserLogCount
            
            <br />
            
            
            <br/>
           
            
         @Localizer["0001"].Value
            
            <br/>
            
            @ViewBag.lang

            @*@RenderBody()*@
        </div>
    </section>
    <!-- Page footer-->
    <footer>
     @await Html.PartialAsync("_Copyright")
    </footer>
</div>


